@media (min-width: 768px) and (max-width: 992px) {
  section > .container {
    /* width: 768px;
    margin: auto;
    display: block; */

    /* padding: 30px 50px; */
  }
  #banner {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(../images/banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
   #banner h1 {
    position: absolute;
    left: 40%;
    top: 280px;
    font-weight: 300;
    font-size: 48px;
  }

  #banner span {
    position: absolute;
    top: 360px;
    left: 45%;
    color: #ced4da;
    font-size: 14px;
  }
  /* Navbar */
  #nav-bar .image img {
    display: none;
  }
  #nav-bar .container {

  }
  #nav-bar .container i {
    border-left: 2px #f7f7f7 solid;
    padding: 20px;
    color: #339af0;
    height: 80px;
  }

  #nav-bar .container i,
  #nav-bar .container a {
    font-size: 14px;
  }
  /* About */
  #about {
    margin: 50px 0;
  }
  #about .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 50px;
  }

  #about .container #target p,
  #about .container #personal-info ul li {
    font-size: 14px;
  }
  /* Job info */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 49%);
  }
  #job-info .container .exp,
  #job-info .container .edu,
  #job-info .container .activity {
    height: auto;
  }

  #job-info .container .exp p,
  #job-info .container .edu p,
  #job-info .container .activity p {
    font-size: 14px;
  }

   #job-info .container .hobby,
  #job-info .container .lang,
  #job-info .container .skill {
    height:auto;
  }


  /* Certificate */
  #certificate {
  }
  #certificate .container {
    margin: 10px;
    height: 650px;
  }
  #certificate .container .grid .up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  #certificate .container .grid .up .left,
  #certificate .container .grid .up .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #certificate .container .grid .down {
    border-top: 1px solid #d6c08d;
    margin-top: 10px;
    width: 700px;
  }
  #certificate .container .grid .down .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }

  #certificate .container .grid .down .left img {
    width: 26%;
  }

  #certificate .container .grid .down .left .content {
    margin-left: 0;
    margin-top: 20px;
  }
  /* Project */
  #project .container .grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    margin-bottom: 50px;
  }
  #project .container .grid .cards .study .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #project .container .grid .cards .study .right p:nth-child(2) {
    margin: 0;
    padding-left: 15px;
  }

  #footer .container ul li {
    font-size: 25px;
  }

  #footer .container ul li i {
    font-size: 40px;
  }
}
